.call-to-action {
  background-color: #10B806;
  padding: 1.5em;
  color: white;
}

form > h3 {
  margin-top: 2em;
}

.btn {
  width: 75%;
  background-color: white;
}

.btn:hover {
  color: #10B806;
}